@model List<CategoriaProducto>

@{
    List<BlobModel> blobs = ViewData["BLOBS"] as List<BlobModel>;
}

@using (Html.BeginForm("_CategoriasRestaurante", "PanelRestaurante", FormMethod.Post))
{
    <div class="h-full p-6 sm:px-4">
        <div class="flex flex-wrap lg:px-16">
            <div class="flex w-full flex-col">
                <div class="-m-1.5 overflow-x-auto">
                    <div class="inline-block min-w-full p-1.5 align-middle">
                        @if (ViewData["IDRESTAURANTE"] != null)
                        {
                            <form method="post">
                                @Html.AntiForgeryToken()
                                <div class="mb-3 flex flex-wrap md:join">
                                    <div class="w-full md:w-7/12">
                                        <input required type="text" name="categoria"
                                               class="join-item border-gray-200 bg-white text-gray-700 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
                                    </div>
                                    <div class="w-full md:w-5/12">
                                        <button style="height:2.35rem;min-height: 2.35rem;" class="join-item btn btn-primary mt-4 w-full px-5 text-sm font-medium md:mt-0">
                                            Crear categoria
                                        </button>
                                    </div>
                                </div>
                            </form>
                        }
                        <div class="flex flex-wrap">
                            @foreach (CategoriaProducto categ in Model)
                            {
                                <div class="w-full p-2 md:w-1/3">
                                    <div class="card card-compact mb-3 h-full overflow-hidden rounded-lg border bg-base-100 shadow-md">
                                        <div class="card-body">
                                            <div class="flex flex-wrap">
                                                <h2 class="card-title line-clamp-1 w-full overflow-hidden xl:w-4/6">
                                                    @categ.Nombre
                                                </h2>
                                            </div>
                                            <div class="flex flex-wrap">
                                                @{
                                                    List<Producto> productos =
                                                    await this.service.GetProductosByCategoriaAsync(categ.IdRestaurante, categ.IdCategoriaProducto);
                                                    foreach (Producto producto in productos)
                                                    {
                                                        producto.Imagen = blobs.FirstOrDefault(b => b.Nombre == producto.Imagen).Url;
                                                        <div class="h-full w-1/6 p-1 md:w-1/4 lg:w-1/5">
                                                            @* <img class="mx-auto aspect-square h-auto w-16 rounded-lg object-cover shadow-md" src="~/images/imag_productos/@producto.Imagen" /> *@
                                                            <img class="mx-auto aspect-square h-auto w-16 rounded-lg object-cover shadow-md" src="@producto.Imagen" />
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="card-actions mt-auto justify-end">
                                                <a class="text-gray-600 transition hover:text-red-600"
                                                   asp-controller="PanelRestaurante" asp-action="DeleteCategoriaProducto"
                                                   asp-route-idcategoria="@categ.IdCategoriaProducto">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4">
                                                        <path fill-rule="evenodd" d="M5 3.25V4H2.75a.75.75 0 0 0 0 1.5h.3l.815 8.15A1.5 1.5 0 0 0 5.357 15h5.285a1.5 1.5 0 0 0 1.493-1.35l.815-8.15h.3a.75.75 0 0 0 0-1.5H11v-.75A2.25 2.25 0 0 0 8.75 1h-1.5A2.25 2.25 0 0 0 5 3.25Zm2.25-.75a.75.75 0 0 0-.75.75V4h3v-.75a.75.75 0 0 0-.75-.75h-1.5ZM6.05 6a.75.75 0 0 1 .787.713l.275 5.5a.75.75 0 0 1-1.498.075l-.275-5.5A.75.75 0 0 1 6.05 6Zm3.9 0a.75.75 0 0 1 .712.787l-.275 5.5a.75.75 0 0 1-1.498-.075l.275-5.5a.75.75 0 0 1 .786-.711Z" clip-rule="evenodd" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
<dialog id="modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <button id="closeModal" onclick="cerrarModal()" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        <h3 id="titleModal" class="text-lg font-bold"></h3>
        <div id="contentModal" class="py-4"></div>
    </div>
</dialog>
