<div class="card image-full h-[calc(100vh-4rem)] rounded-none">
    <figure><img class="opacity-80 h-full w-full object-cover" src="~/images/general/login.png" /></figure>
    <div class="card-body">
        <div class="mx-auto w-3/4 max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
            <div class="card mx-auto bg-base-100 p-8 shadow-xl lg:w-1/2">
                <div class="mx-auto max-w-lg text-center">
                    <h1 class="text-black text-2xl font-bold sm:text-3xl">Iniciar sesión</h1>
                    <p class="text-gray-500 mt-4">
                        Tienes cosas por hacer. Nosotros te damos opciones
                    </p>
                </div>

                <form method="post" class="mx-auto mb-0 mt-8 w-full space-y-4 sm:w-2/3 lg:w-3/4">
                    @Html.AntiForgeryToken()
                    <div class="w-full">
                        <label class="text-gray-700 block text-sm font-bold">Email</label>
                        <input type="text" name="email" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
                    </div>
                    <div class="w-full">
                        <label class="text-gray-700 block text-sm font-bold">Contraseña</label>
                        <input type="password" name="password" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
                    </div>

                    <div class="flex flex-wrap items-center justify-between">
                        <p class="text-gray-500 mb-2.5 text-sm">
                            ¿No tienes cuenta?
                            <a asp-controller="Auth" asp-action="Register" class="text-gray-700 underline">Regístrate</a>
                        </p>
                        <button class="btn btn-primary font-medium">
                            Iniciar sesión
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<dialog id="errorModal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Error al iniciar sesión :(</h3>
        <p class="py-4">No existe un usuario con este correo o la contraseña es incorrecta</p>
        <div class="modal-action">
            <form method="dialog">
                <button class="btn btn-primary font-medium">Cerrar</button>
            </form>
        </div>
    </div>
</dialog>

@section styles {
    <style>
        .card.image-full:before {
            background-color: rgba(0, 0, 0, 0);
        }
    </style>
}

@if (ViewData["MENSAJE"] != null)
{
    @section scripts {
    <script>errorModal.showModal()</script>
    }
}