@{
    List<string> provincias = new List<string> {
        "A Coruña", "Alicate","Albacete","Almería","Álava","Asutrias","Ávila","Badajoz","Barcelona",
    "Bizkaia","Burgos","Cáceres","Cádiz","Cantabria","Castellón","Ceuta","Ciudad Real","Córdoba",
    "Cuenca","Gipuzkoa","Girona","Granada","Guadalajara","Guelva","Huesca","Islas Baleares","Jaén",
    "La Rioja","Las Palmas","León","Lleida","Lugo","Madrid","Málaga","Melilla","Murcia","Navarra",
    "Ourense","Palencia","Pontevedra","Salamanca","Santa Cruz de Tenerife","Segovia","Soria",
    "Tarragona","Teruel","Toledo","Valencia","Valladolid","Zamora","Zaragoza"};
}

<div class="bg-white">
    <div class="h-[calc(100vh-4rem)] lg:grid lg:grid-cols-12">
        <div class="bg-gray-900 relative flex h-32 items-end lg:col-span-5 lg:h-full xl:col-span-6">
            <img src="~/images/general/register.png" class="opacity-80 absolute inset-0 h-full w-full object-cover lg:opacity-40" />
            <div class="hidden lg:relative lg:block lg:p-12">
                <h2 class="text-white mt-6 text-2xl font-bold sm:text-3xl md:text-4xl">
                    Regístrate
                </h2>
                <p class="text-white mt-4 leading-relaxed">
                    Empieza a disfrutar de la mejor comida, ahora más cerca de ti
                </p>
            </div>
        </div>

        <div class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6">
            <div class="max-w-xl lg:max-w-3xl">
                <div class="block lg:hidden">
                    <h1 class="text-gray-900 mt-2 text-2xl font-bold sm:text-3xl md:text-4xl">
                        Regístrate
                    </h1>
                    <p class="text-gray-500 mt-4 leading-relaxed">
                        Empieza a disfrutar de la mejor comida, ahora más cerca de ti
                    </p>
                </div>

                <form method="post" class="grid-cols-6 mt-8 grid gap-6">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="idusuario" value="0" />
                    <div class="col-span-6">
                        <label class="text-gray-700 block text-sm font-bold">Nombre</label>
                        <input required type="text" name="nombre" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
                    </div>
                    <div class="col-span-6">
                        <label class="text-gray-700 inline-block text-sm font-bold">Email</label>
                        <input required type="email" name="correo" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label class="text-gray-700 block text-sm font-bold">Contraseña</label>
                        <input required type="password" name="contrasenya" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label class="text-gray-700 block text-sm font-bold">Teléfono</label>
                        <input required type="tel" name="telefono" pattern="^\d{9}$" maxlength="9" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label class="text-gray-700 block text-sm font-bold">Dirección, ciudad</label>
                        <input required type="text" name="direccion" class="border-gray-200 bg-white text-gray-700 mt-1 w-full rounded-md text-sm shadow-sm focus:ring focus:outline-none" />
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label class="text-gray-700 block text-sm font-bold">Provincia</label>
                        <select name="provincia" class="border-gray-300 text-gray-700 mt-1.5 w-full rounded-lg p-2 pb-1.5 shadow-sm focus:ring focus:outline-none sm:text-sm">
                            @foreach (string provincia in provincias)
                            {
                                <option value="@provincia">@provincia</option>
                            }
                        </select>
                    </div>
                    <input type="hidden" name="tipousuario" value="1" />
                    <div class="col-span-6">
                        <p class="text-gray-500 text-sm">
                            Al crear una cuenta, aceptas nuestros
                            <a href="#" class="text-gray-700 underline"> términos y condiciones </a>
                            y la
                            <a href="#" class="text-gray-700 underline">política de privacidad</a>.
                        </p>
                    </div>

                    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
                        <button class="btn btn-primary w-48 font-medium">
                            Registrar usuario
                        </button>
                        <p class="text-gray-500 mt-4 text-sm sm:mt-0">
                            ¿Ya tienes una cuenta?
                            <a asp-controller="Auth" asp-action="Login" class="text-gray-700 underline">Inicia sesión</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>