@model List<Usuario>

<div class="p-6 sm:px-4">
    <div class="flex flex-wrap lg:px-16">
        <div class="flex w-full flex-col">
            <div class="-m-1.5 overflow-x-auto">
                <div class="inline-block min-w-full p-1.5 align-middle">
                    <div class="overflow-hidden rounded-lg border shadow">
                        <table class="divide-gray-200 min-w-full divide-y">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col" class="text-gray-500 px-6 py-3 text-start text-xs font-medium uppercase">Nombre</th>
                                    <th scope="col" class="text-gray-500 px-6 py-3 text-start text-xs font-medium uppercase">Correo</th>
                                    <th scope="col" class="text-gray-500 px-6 py-3 text-start text-xs font-medium uppercase">Teléfono</th>
                                    <th scope="col" class="text-gray-500 px-6 py-3 text-start text-xs font-medium uppercase">Dirección</th>
                                    <th scope="col" class="text-gray-500 px-6 py-3 text-start text-xs font-medium uppercase">Tipo Usuario</th>
                                </tr>
                            </thead>
                            <tbody class="divide-gray-200 divide-y">
                                @foreach (Usuario usuario in Model)
                                {
                                    <tr>
                                        <td class="text-gray-800 whitespace-nowrap px-6 py-4 text-sm font-medium">@usuario.Nombre</td>
                                        <td class="text-gray-800 whitespace-nowrap px-6 py-4 text-sm">@usuario.Correo</td>
                                        <td class="text-gray-800 whitespace-nowrap px-6 py-4 text-sm">@usuario.Telefono</td>
                                        <td class="text-gray-800 whitespace-nowrap px-6 py-4 text-sm">@usuario.Direccion</td>
                                        <td class="text-gray-800 whitespace-nowrap px-6 py-4 text-sm">
                                            @{
                                                if (usuario.TipoUsuario == 1)
                                                {
                                                    <span>Usuario</span>
                                                }
                                                else if (usuario.TipoUsuario == 2)
                                                {
                                                    <span>Admin</span>
                                                }
                                                else if (usuario.TipoUsuario == 3)
                                                {
                                                  <span>Empresa</span>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
