@model string

<div role="tablist" class="tabs tabs-boxed mx-auto mt-3 w-11/12">
    <button role="tab" class="tab" value="_Restaurantes">Restaurantes</button>
    <button role="tab" class="tab" value="_Productos">Productos</button>
    <button role="tab" class="tab" value="_Usuarios">Usuarios</button>
</div>
<div id="contentPanel" class="px-6 sm:px-4"></div>

<dialog id="modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <button id="closeModal" onclick="cerrarModal()" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        <h3 id="titleModal" class="text-lg font-bold"></h3>
        <div id="contentModal" class="py-4"></div>
    </div>
</dialog>

@section scripts {
    @if (ViewData["NOMVISTA"] != null)
    {
        if (ViewData["IDREST"] != null)
        {
            <script>
                $(function () {
                    $("button.tab[value=@ViewData["NOMVISTA"]]").addClass("tab-active");
                    $("#contentPanel").load("/PanelAdmin/@ViewData["NOMVISTA"]?idrest=@ViewData["IDREST"]");
                });
            </script>
        }
        else
        {
            <script>
                $(function () {
                    $("button.tab[value=@ViewData["NOMVISTA"]]").addClass("tab-active");
                    $("#contentPanel").load("/PanelAdmin/@ViewData["NOMVISTA"]");
                });
            </script>
        }
    }
    <script>
        function createRestaurante() {
            $(function () {
                $("#modal").addClass("modal-open");
                $("#titleModal").text("Crear Restaurante");
                $("#contentModal").load("/PanelAdmin/_CreateRestaurante");
            });
        }

        function productosRestaurante(e) {
            $(function () {
                $("button.tab").removeClass("tab-active");
                $("button.tab[value='_Productos']").addClass("tab-active");
                let id = e.dataset.idrestaurante;
                $("#contentPanel").load("/PanelAdmin/_Productos?idrest=" + id);
            });
        }

        function detailsRestaurante(e) {
            $(function () {
                let id = e.dataset.idrestaurante;
                $("#modal").addClass("modal-open");
                $("#titleModal").text("Detalles Restaurante");
                $("#contentModal").load("/PanelAdmin/_DetailsRestaurante?idrest=" + id);
            });
        }

        function editRestaurante(e) {
            $(function () {
                let id = e.dataset.idrestaurante;
                $("#modal").addClass("modal-open");
                $("#titleModal").text("Editar Restaurante");
                $("#contentModal").load("/PanelAdmin/_EditRestaurante?idrest=" + id);
            });
        }

        function createProducto(e) {
            $(function () {
                let id = e.dataset.idrestaurante;
                $("#modal").addClass("modal-open");
                $("#titleModal").text("Crear Producto");
                if (id == "")
                    $("#contentModal").load("/PanelAdmin/_CreateProducto");
                else
                    $("#contentModal").load("/PanelAdmin/_CreateProducto?idrestaurante=" + id);
            });
        }

        function loadCategoriasProductoRestaurante() {
            $(function () {
                let id = $("#selectRestauranteCreateProd").val();
                $("#selectCategoriasCreateProd").load("/PanelAdmin/_CategoriasProductoRestaurante?idrestaurante=" + id);
            });
        }

        function detailsProducto(e) {
            $(function () {
                let id = e.dataset.idproducto;
                $("#modal").addClass("modal-open");
                $("#titleModal").text("Detalles Producto");
                $("#contentModal").load("/PanelAdmin/_DetailsProducto?idprod=" + id);
            });
        }

        function editProducto(e) {
            $(function () {
                let id = e.dataset.idproducto;
                $("#modal").addClass("modal-open");
                $("#titleModal").text("Editar Producto");
                $("#contentModal").load("/PanelAdmin/_EditProducto?idprod=" + id);
            });
        }

        function cerrarModal() {
            $(function () {
                $("#modal").removeClass("modal-open");
                $("#contentModal").html("");
            });
        }

        $(function () {
            $("button.tab").on("click", function () {
                $("button.tab").removeClass("tab-active");
                $(this).addClass("tab-active");
                let val = $(this).val();
                $("#contentPanel").load("/PanelAdmin/" + val);
            });
        });
    </script>
}
