@{
    string baseUri = Context.Request.Scheme + "://" + Context.Request.Host;
}

<!doctype html>
<html data-theme="light">
<head>
    <title>Tabe</title>
    <link rel="icon" type="image/x-icon" href="~/images/general/favicon.ico">
    <link rel="stylesheet" href="~/css/output.css" />
    <link href="~/css/daisy.min.css" rel="stylesheet" type="text/css" />
    <style>
        @@font-face {
            font-family: UberMove;
            src: url("@baseUri/fonts/UberMoveMedium.otf") format('opentype');
        }

        * {
            font-family: UberMove !important;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
        }

        .scrollbar-hide::-webkit-scrollbar {
            display: none;
        }

        .scrollbar-hide {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    </style>
    @RenderSection("styles", false)
</head>

<body>
    <partial name="_Menu" />

    <div class="container mx-auto max-w-full">
        @RenderBody()
    </div>

    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/datepicker.min.js"></script>
    <script src="~/js/flowbite.js"></script>
    <script src="~/js/tailwind.js"></script>
    <script src="~/js/signalr.js"></script>
    <script>
        function connectToSignalR() {
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/estadoPedidoHub")
                .build();
            connection.start().then(() => {
                console.log("SignalR connection established!");
            }).catch(err => {
                console.error("Error establishing connection:", err);
            });
            return connection;
        }
    </script>
    @await RenderSectionAsync("scripts", false)
</body>

</html>