<!doctype html>
<html data-theme="dark">
<head>
    <link rel="stylesheet" href="~/css/global.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.2/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container mx-auto sm:px-4 max-w-full p-6">
        @RenderBody()
    </div>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</body>
</html>