@{
    string baseUri = Context.Request.Scheme + "://" + Context.Request.Host;
}

<!doctype html>
<html data-theme="light">
<head>
    <link rel="stylesheet" href="~/css/global.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <style>
        @@font-face {
            font-family: UberMove;
            src: url("@baseUri/fonts/UberMoveMedium.otf") format('opentype');
        }

        * {
            font-family: UberMove !important;
        }

        /* FIX */
        .card.image-full:before {
            background-color: rgba(0, 0, 0, 0);
        }
    </style>
</head>

<body>
    <div class="navbar bg-primary text-primary-content lg:px-12">
        <div class="navbar-start">
            <div class="flex lg:hidden">
                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M4 6h16M4 12h8m-8 6h16" />
                        </svg>
                    </div>
                    <ul tabindex="0"
                        class="menu menu-sm dropdown-content mt-3 z-50 p-2 shadow bg-primary text-primary-content rounded-box w-52">
                        <li><a>Item 1</a></li>
                        <li>
                            <a>Restaurantes</a>
                            <ul class="p-2">
                                <li><a asp-controller="Restaurantes" asp-action="Index">Restaurantes</a></li>
                                <li><a>Submenu 2</a></li>
                            </ul>
                        </li>
                        <li><a>Item 3</a></li>
                    </ul>
                </div>
            </div>
            <a asp-controller="Home" asp-action="Index" class="btn btn-ghost"><span class="text-xl">Tabe</span></a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a>Item 1</a></li>
                <li>
                    <details>
                        <summary>Parent</summary>
                        <ul class="p-2 bg-primary text-primary-content z-50 top-10">
                            <li><a asp-controller="Restaurantes" asp-action="Index">Restaurantes</a></li>
                            <li><a>Submenu 2</a></li>
                        </ul>
                    </details>
                </li>
                <li><a>Item 3</a></li>
            </ul>
        </div>
        <div class="navbar-end hidden lg:flex">
            <div class="join">
                <a asp-controller="Auth" asp-action="Login" class="btn join-item">Iniciar sesión</a>
                <a asp-controller="Auth" asp-action="Register" class="btn join-item">Registrarse</a>
            </div>
        </div>
    </div>

    <div class="container mx-auto max-w-full">
        @RenderBody()
    </div>
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    @RenderSection("scripts", false)
</body>

</html>