@{
    List<CategoriaRestaurante> categorias = ViewData["CATEGORIAS"] as List<CategoriaRestaurante>;
}

<div class="sm:px-4 p-6">
    <div class="sm:px-6">
        <div class="flex flex-wrap">
            <label class="form-control w-full">
                <div class="flex flex-wrap justify-center">
                    <button class="w-20 text-sm" name="categoria" value="Todas">
                        <img src="~/images/categ_restaurantes/todas.png" />
                        <span>Todas</span>
                    </button>
                    @foreach (CategoriaRestaurante categoria in categorias)
                    {
                        <button class="w-20 text-sm" name="categoria" value="@categoria.Nombre">
                            <img src="~/images/categ_restaurantes/@categoria.IconoCategoria" />
                            <span>@categoria.Nombre</span>
                        </button>
                    }
                </div>
            </label>
        </div>
    </div>

    <div class="mt-4" id="contentRestaurantes"></div>
</div>

@section scripts {
    <script>
        $(function () {
            $("#contentRestaurantes").load("/Restaurantes/_ListRestaurantes");

            $("button[name=categoria]").on("click", function () {
                let categoria = $(this).val();
                if (categoria != "Todas")
                    $("#contentRestaurantes")
                        .load("/Restaurantes/_ListRestaurantes?categoria=" + categoria);
                else
                    $("#contentRestaurantes").load("/Restaurantes/_ListRestaurantes");
            });
        });
    </script>
}